
.logo span{
    font-weight: bolder;
    color: rgb(196, 0, 0);
}
.full{
    display: flex;
      justify-content: space-around;
      margin: 20px;
}


.searchButton{
    text-align: center;
    margin: auto;
width: 50%;

}
.searchButton input{
    width: 80%;
   height: 35px; 
   border: rgb(196, 0, 0) 1px solid;
   border-end-start-radius: 5px;
   border-top-right-radius: 5px;
}
.searchButton button{
    height: 35px; 
    width: 40px;
    border: none;
    background-color: rgb(196, 0, 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.searchButton i{
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(199, 96, 96) !important;
    opacity: 1; /* Firefox */
    font-family: 'Samim';
  }
  



