#root { height: 100% }
html,
.product body {
  position: relative;
  height: 100%;
  
}

.product body {
  background: #eee;
  font-family: 'Samim';
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 50px;
  
}

.product .swiper-container {
  width: 70% !important;
  height: 390px !important;
  margin: 20px auto;
}

.product .swiper-slide {
  text-align: center;
  font-size: 15px;
  background: #fff;
  height: 470px;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.product .swiper-slide img {
  display: block;
  width: 161.500px;
  height: 250px;
  object-fit: cover;
}

/* --------------------------------------------------------- */
.product .swiper-button-next, .product .swiper-button-prev{
    color: rgb(196, 0, 0) !important;
    
}
 .titel{
    margin-top: 70px;
    margin-bottom: 20px;
}
 .titel h2{

  font-family: 'Samim';
    text-align: center;
    padding: 5px;
    background-color: rgb(196, 0, 0);
    width: 190px;
    height: 50px;
    color: white;
    border-top-left-radius: 30px;
    
}
.product-card h3 , span{
    padding-top: 10px;
    width: 160px;
color: black;
font-family: 'Samim';

}
 .product-card span{
  font-family: 'Samim';
    color: rgb(196, 0, 0);
}
 .add-icon {
 width: 160px;
 height: 230px; 
 background-color: white;
 border: none;
 color: rgb(196, 0, 0);
 margin-bottom: 50px;
}

.product .swiper-pagination-bullet{
  background-color: rgb(110, 110, 110);
}
.product .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: rgb(196, 0, 0);
}




